<div class="py-7 px-lg-30 px-xxl-60 mt-7" style="background-color: #e4eaf5;">
  <div class="d-flex flex-column flex-lg-row gap-4 gap-lg-0 justify-content-between align-items-center">
    <span class="fs-18 text-gray-700"> Developed by <span class="fw-semibold">Maganteys</span> &#169 2022</span>
    <div class="d-flex gap-5 fs-18 text-gray-700">
      <span>
        Terms & Condition
      </span>
      <span>
        Privacy Policy
      </span>
    </div>
  </div>
</div>
