<!-- navbar-close -->
<div class="container-fluid mt-50 mt-xl-50 mt-xxl-66" id="about">
  <!-- hero section -->
  <div class="d-flex flex-column flex-lg-row px-lg-30 px-xxl-60 py-3 justify-content-between">
    <div class="d-flex flex-column gap-4 justify-content-center order-1 order-lg-0 mt-5 mt-lg-0" style="max-width: 600px;">
      <div class="d-flex flex-column gap-2 text-center text-lg-start">
        <h3 class="text-red-gray fs-44 mb-0">Hello, I'm</h3>
        <span class="fw-semibold fs-50">Basanta Bhandari</span>
        <h2 class="">A <span class="text-green">Software Developer</span> From <span class="text-purple">Nepal</span></h2>
        <span class="fs-24 text-gray-700">I am a blockchain enthusiast, looking to contribute my skills and knowledge to the
         development of cutting-edge blockchain solutions</span>
      </div>
      <div class="d-flex justify-content-center justify-content-xl-start gap-3 gap-lg-6">
        <button class="btn btn-red-gray rounded-5 px-5 px-lg-7 py-2 py-lg-3 text-white fs-18 fw-semibold">About Me</button>
        <div class="d-flex align-items-center gap-3 fs-20">
          <a href="https://www.facebook.com/" class="text-gray-700" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="https://twitter.com/bbasanta238 " class="text-gray-700" target="_blank"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/basanta-bhandari-44b454193/" class="text-gray-700" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <div class="mt-32">
      <div class="position-absolute mt-5 ms-5 hero-icon bounce d-none d-xl-block" style="z-index: 999px;">
        <!-- solidity -->
        <div class="d-inline-block border rounded-3 fs-20" style="background-color: #5c69aa;">
          <img src="<%= asset_path("hero/solidity.png") %>" class="img-fluid" alt="" style="max-height: 80px;">
        </div>
      </div>
      <div class="position-absolute mt-64 hero-icon bounce d-none d-xl-block" style="z-index: 999px; right: 300px">
        <!-- blockchain -->
        <div class="d-inline-block border border-white rounded-3 fs-20 " style="background-color: #72ca81;">
          <img src="<%= asset_path("hero/blockchain.png") %>" class="img-fluid" alt="" style="max-height: 80px;">
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <img src="<%= asset_path("slider/product-stack.webp") %>" class="img-fluid hero-image" alt="" style="max-height: 700px;">
      </div>
      <div class="position-absolute ms-5 hero-icon bounce d-none d-xl-block" style="z-index: 999px; margin-top: -140px;">
        <!-- javascript -->
        <div class="d-inline-block border border-white rounded-3 fs-20" style="background-color: #f6df1f;">
          <img src="<%= asset_path("hero/JS.png") %>" class="img-fluid" alt="" style="max-height: 80px;">
        </div>
      </div>
    </div>
  </div>
  <!-- hero section end -->
</div>
