<!-- Navbar -->
<nav class="navbar navbar-expand-lg px-lg-30 px-xxl-60 py-3">
  <div class="container-fluid">
    <div class="border border-1 border-green rounded-circle nav-circle d-flex align-items-center" style="width: 80px; height: 80px;">
      <a class="navbar-brand" href="#"><img src="<%= asset_path("slider/profile.jpg") %>" class="img-resposive nav-image rounded-circle" alt="" style="width: 75px;" height="75px"></a>
    </div>
    <div class="d-block d-md-none fs-40 text-twitter-blue fw-semibold">
      <span class="navbar-name">Basanta Bhandari</span>
    </div>
    <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse fw-semibold fs-18 justify-content-end gap-5" id="navbarNav">
      <ul class="navbar-nav gap-2 gap-lg-5 drop-down-item">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " href="#skill">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " href="#contact">Contact</a>
        </li>
        <button class="btn custom-button up fw-semibold fs-18 rounded-5 px-3 py-2" style="max-width: 200px;">Download CV</button>
      </ul>
    </div>
  </div>
</nav>
