<div class="px-lg-70 px-xl-78 d-flex flex-column align-items-center py-60 py-lg-72" id="portfolio">
  <div class="d-flex flex-column text-center gap-3">
    <span class="fs-24 fw-semibold text-red-gray">Portfolio</span>
    <h3 class="fs-42">My Amazing Works</h3>
    <span class="fs-20 text-gray-700 text-center mb-8">Most common methods for designing websites that work well on desktop is responsive and adaptive design<span>
      </div>
      <div class="d-flex flex-wrap mx-3 mx-md-0 gap-6  mt-3 align-items-center justify-content-center">
        <!-- card 1 -->
        <div class="card-animate overflow-hidden d-flex flex-column flex-md-row card bg-white gap-3 gap-lg-5 px-5 py-3 py-lg-7 shadow-sm card-width">
          <div>
            <img class=" p-3 project-icons-1" src="<%= asset_path("projects/icons/anchor.svg") %>" alt="">
          </div>
          <div class="d-flex flex-column gap-3">
            <div class='wave -two'></div>
            <div class='wave -three'></div>
            <span class="fs-24 fw-semibold">NFT Marketplace</span>
            <span class="fw-semibold fs-20"><span class="text-red-gray">Web3, RoR, Ethereum</span></span>
            <span class="text-gray-700 fs-20">An NFT marketplace project is a platform that allows individuals to buy, sell, and
              trade unique digital assets, known as non-fungible tokens (NFTs). It is both on-chain and off-chain project. The contract
              has possible gas optimization so no user pay minimal transaction fee.</span>
          </div>
        </div>
        <!-- card 2 -->
        <div class="card-animate overflow-hidden d-flex flex-column flex-md-row card bg-white gap-3 gap-lg-5 px-5 py-3 py-lg-7 shadow-sm card-width">
          <div>
            <img class=" p-3 project-icons-2" src="<%= asset_path("projects/icons/anchor.svg") %>" alt="">
          </div>
          <div class="d-flex flex-column gap-3">
            <div class='wave -two'></div>
            <div class='wave -three'></div>
            <span class="fs-24 fw-semibold">Lottery System</span>
            <span class="fw-semibold fs-20"><span class="text-red-gray">Solidity</span></span>
            <span class="text-gray-700 fs-20">A lottery project based on web3 technology would use smart contracts on a
              blockchain network to facilitate all the lottery process. The smart contracts are programmed to automatically
              generate random numbers, select winners, and distribute prizes.</span>
          </div>
        </div>
        <!-- card 3 -->
        <div class="card-animate overflow-hidden d-flex flex-column flex-md-row card bg-white gap-3 gap-lg-5 px-5 py-3 py-lg-7 shadow-sm card-width">
          <div>
            <img class=" p-3 project-icons-3" src="<%= asset_path("projects/icons/anchor.svg") %>" alt="">
          </div>
          <div class="d-flex flex-column gap-3">
            <div class='wave -two'></div>
            <div class='wave -three'></div>
            <span class="fs-24 fw-semibold">KitabLenden</span>
            <span class="fw-semibold fs-20"><span class="text-red-gray">Node.js</span></span>
            <span class="text-gray-700 fs-20">It is a platform where use can share or borrow the books that they preffered that are listed
              in the platform. This platform was developed with a thought that no any book Each sharing is treated
              as a transaction so user can monitor and track all process by themselves.</span>
          </div>
        </div>
        <!-- card 4 -->
        <div class="card-animate overflow-hidden d-flex flex-column flex-md-row card bg-white gap-3 gap-lg-5 px-5 py-3 py-lg-7 shadow-sm card-width ">
          <div>
            <img class=" p-3 project-icons-4" src="<%= asset_path("projects/icons/anchor.svg") %>" alt="" >
          </div>
          <div class="d-flex flex-column gap-3">
            <div class='wave -two'></div>
            <div class='wave -three'></div>
            <span class="fs-24 fw-semibold">Ideator</span>
            <span class="fw-semibold fs-20"><span class="text-red-gray">Bootstrap, RoR</span></span>
            <span class="text-gray-700 fs-20">An Ideator is a platform that allows users to share and discuss their ideas with a community of like-minded individuals.
              Through this application user can share their idea and also can comment their thoughts regarding other ideas.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
