<div class="px-lg-78 py-3 mt-5 d-flex flex-column flex-lg-row mx-3 mx-lg-0 justify-content-between align-items-center" id="skills">
  <div class="d-flex flex-column gap-5" style="max-width: 500px;">
    <span class="fs-20 fw-semibold text-red-gray">Design is Life</span>
    <h2 class="fs-38 mb-0">I Develop Skills Regularly to Keep Me Update</h2>
    <span class="fs-18 text-gray-700">Most common methods for designing websites that work well on desktop is responsive and adaptive design</span>
    <div class="d-flex flex-column gap-4">
      <div>
        <div class="d-flex justify-content-between">
          <span class="fw-semibold fs-18">Solidity</span>
          <span class="fw-semibold text-red-gray me-64">80%</span>
        </div>
        <div class="bg-gray-500 border w-100 rounded-3">
          <div class=" border border-1 border-red-gray rounded-3" style="width:80%"></div>
        </div>
      </div>
      <div>
        <div class="d-flex">
          <span class="fw-semibold fs-18">Blockchain</span>
          <span class="fw-semibold text-green ms-44 ms-md-68">50%</span>
        </div>
        <div class="bg-gray-500 border w-100 rounded-3">
          <div class=" border border-1 border-green rounded-3" style="width:50%"></div>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-between">
          <span class="fw-semibold fs-18">JavaScript</span>
          <span class="fw-semibold text-purple me-60">85%</span>
        </div>
        <div class="bg-gray-500 border w-100 rounded-3">
          <div class=" border border-1 border-purple rounded-3" style="width:85%"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8 mt-lg-5 img-skills">
    <img class="img-fluid rounded-5" src="<%= asset_path('skills/3.jpg') %>" alt="" style="max-height: 550px;">
  </div>
</div>
