<div class="d-flex align-items-center justify-content-center pt-70 pb-66 overflow-hidden">
  <div class="wrapper">
    <div class="outer-circle text-white bg-white d-flex align-items-center justify-content-center border border-1">
      <div class=" inner-circle position-absolute"></div>
      <div class=" inner-circle position-absolute"></div>
      <div class=" inner-circle position-absolute"></div>
      <div class=" inner-circle position-absolute"></div>
      <div class=" inner-circle position-absolute"></div>
      <div class=" inner-circle position-absolute "></div>
      <div class=" inner-circle position-absolute"></div>
      <div class=" inner-circle position-absolute "></div>
      <div class=" central-circle-1 position-absolute "></div>
      <div class=" central-circle-2 position-absolute "></div>
    </div>
  </div>
